.badge-pill {
    color: #111111;
    background-color: #ADB2CB;
}

.badge-1c-enterprise {
    color: #ffffff;
    background-color: #814CCC;
}


.badge-abap {
    color: #ffffff;
    background-color: #E8274B;
}


.badge-actionscript {
    color: #ffffff;
    background-color: #882B0F;
}


.badge-ada {
    color: #111111;
    background-color: #02f88c;
}


.badge-agda {
    color: #ffffff;
    background-color: #315665;
}


.badge-ags-script {
    color: #111111;
    background-color: #B9D9FF;
}


.badge-alloy {
    color: #ffffff;
    background-color: #64C800;
}


.badge-alpine-abuild {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-ampl {
    color: #111111;
    background-color: #E6EFBB;
}


.badge-angelscript {
    color: #111111;
    background-color: #C7D7DC;
}


.badge-antlr {
    color: #111111;
    background-color: #9DC3FF;
}


.badge-apex {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-api-blueprint {
    color: #111111;
    background-color: #2ACCA8;
}


.badge-apl {
    color: #ffffff;
    background-color: #5A8164;
}


.badge-apollo-guidance-computer {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-applescript {
    color: #ffffff;
    background-color: #101F1F;
}


.badge-arc {
    color: #ffffff;
    background-color: #aa2afe;
}


.badge-asp {
    color: #ffffff;
    background-color: #6a40fd;
}


.badge-aspectj {
    color: #ffffff;
    background-color: #a957b0;
}


.badge-assembly {
    color: #ffffff;
    background-color: #6E4C13;
}


.badge-asymptote {
    color: #ffffff;
    background-color: #4a0c0c;
}


.badge-ats {
    color: #ffffff;
    background-color: #1ac620;
}


.badge-augeas {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-autohotkey {
    color: #ffffff;
    background-color: #6594b9;
}


.badge-autoit {
    color: #ffffff;
    background-color: #1C3552;
}


.badge-awk {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-ballerina {
    color: #ffffff;
    background-color: #FF5000;
}


.badge-batchfile {
    color: #111111;
    background-color: #C1F12E;
}


.badge-befunge {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-bison {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-bitbake {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-blitzbasic {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-blitzmax {
    color: #ffffff;
    background-color: #cd6400;
}


.badge-bluespec {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-boo {
    color: #111111;
    background-color: #d4bec1;
}


.badge-brainfuck {
    color: #ffffff;
    background-color: #2F2530;
}


.badge-brightscript {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-bro {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-c {
    color: #ffffff;
    background-color: #555555;
}


.badge-c {
    color: #ffffff;
    background-color: #178600;
}


.badge-c {
    color: #ffffff;
    background-color: #f34b7d;
}


.badge-c2hs-haskell {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-cap-n-proto {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-cartocss {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-ceylon {
    color: #111111;
    background-color: #dfa535;
}


.badge-chapel {
    color: #111111;
    background-color: #8dc63f;
}


.badge-charity {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-chuck {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-cirru {
    color: #111111;
    background-color: #ccccff;
}


.badge-clarion {
    color: #ffffff;
    background-color: #db901e;
}


.badge-clean {
    color: #ffffff;
    background-color: #3F85AF;
}


.badge-click {
    color: #111111;
    background-color: #E4E6F3;
}


.badge-clips {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-clojure {
    color: #ffffff;
    background-color: #db5855;
}


.badge-cmake {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-cobol {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-coffeescript {
    color: #ffffff;
    background-color: #244776;
}


.badge-coldfusion {
    color: #ffffff;
    background-color: #ed2cd6;
}


.badge-coldfusion-cfc {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-common-lisp {
    color: #ffffff;
    background-color: #3fb68b;
}


.badge-common-workflow-language {
    color: #ffffff;
    background-color: #B5314C;
}


.badge-component-pascal {
    color: #111111;
    background-color: #B0CE4E;
}


.badge-cool {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-coq {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-crystal {
    color: #ffffff;
    background-color: #000100;
}


.badge-csound {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-csound-document {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-csound-score {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-css {
    color: #ffffff;
    background-color: #563d7c;
}


.badge-cuda {
    color: #ffffff;
    background-color: #3A4E3A;
}


.badge-cweb {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-cycript {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-cython {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-d {
    color: #ffffff;
    background-color: #ba595e;
}


.badge-dart {
    color: #ffffff;
    background-color: #00B4AB;
}


.badge-dataweave {
    color: #ffffff;
    background-color: #003a52;
}


.badge-digital-command-language {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-dm {
    color: #ffffff;
    background-color: #447265;
}


.badge-dockerfile {
    color: #ffffff;
    background-color: #384d54;
}


.badge-dogescript {
    color: #111111;
    background-color: #cca760;
}


.badge-dtrace {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-dylan {
    color: #ffffff;
    background-color: #6c616e;
}


.badge-e {
    color: #111111;
    background-color: #ccce35;
}


.badge-ec {
    color: #ffffff;
    background-color: #913960;
}


.badge-ecl {
    color: #ffffff;
    background-color: #8a1267;
}


.badge-eclipse {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-eiffel {
    color: #ffffff;
    background-color: #946d57;
}


.badge-elixir {
    color: #ffffff;
    background-color: #6e4a7e;
}


.badge-elm {
    color: #ffffff;
    background-color: #60B5CC;
}


.badge-emacs-lisp {
    color: #ffffff;
    background-color: #c065db;
}


.badge-emberscript {
    color: #111111;
    background-color: #FFF4F3;
}


.badge-eq {
    color: #ffffff;
    background-color: #a78649;
}


.badge-erlang {
    color: #ffffff;
    background-color: #B83998;
}


.badge-f {
    color: #ffffff;
    background-color: #b845fc;
}


.badge-f {
    color: #ffffff;
    background-color: #572e30;
}


.badge-factor {
    color: #ffffff;
    background-color: #636746;
}


.badge-fancy {
    color: #ffffff;
    background-color: #7b9db4;
}


.badge-fantom {
    color: #ffffff;
    background-color: #14253c;
}


.badge-filebench-wml {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-filterscript {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-fish {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-flux {
    color: #111111;
    background-color: #88ccff;
}


.badge-forth {
    color: #ffffff;
    background-color: #341708;
}


.badge-fortran {
    color: #ffffff;
    background-color: #4d41b1;
}


.badge-freemarker {
    color: #ffffff;
    background-color: #0050b2;
}


.badge-frege {
    color: #ffffff;
    background-color: #00cafe;
}


.badge-game-maker-language {
    color: #ffffff;
    background-color: #71b417;
}


.badge-gams {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-gap {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-gcc-machine-description {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-gdb {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-gdscript {
    color: #ffffff;
    background-color: #355570;
}


.badge-genie {
    color: #ffffff;
    background-color: #fb855d;
}


.badge-genshi {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-gentoo-ebuild {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-gentoo-eclass {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-gherkin {
    color: #ffffff;
    background-color: #5B2063;
}


.badge-glsl {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-glyph {
    color: #111111;
    background-color: #c1ac7f;
}


.badge-gnuplot {
    color: #111111;
    background-color: #f0a9f0;
}


.badge-go {
    color: #ffffff;
    background-color: #00ADD8;
}


.badge-golo {
    color: #ffffff;
    background-color: #88562A;
}


.badge-gosu {
    color: #ffffff;
    background-color: #82937f;
}


.badge-grace {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-grammatical-framework {
    color: #ffffff;
    background-color: #79aa7a;
}


.badge-groovy {
    color: #111111;
    background-color: #e69f56;
}


.badge-groovy-server-pages {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-hack {
    color: #ffffff;
    background-color: #878787;
}


.badge-harbour {
    color: #ffffff;
    background-color: #0e60e3;
}


.badge-haskell {
    color: #ffffff;
    background-color: #5e5086;
}


.badge-haxe {
    color: #ffffff;
    background-color: #df7900;
}


.badge-hcl {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-hiveql {
    color: #111111;
    background-color: #dce200;
}


.badge-hlsl {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-html {
    color: #ffffff;
    background-color: #e34c26;
}


.badge-hy {
    color: #ffffff;
    background-color: #7790B2;
}


.badge-hyphy {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-idl {
    color: #ffffff;
    background-color: #a3522f;
}


.badge-idris {
    color: #ffffff;
    background-color: #b30000;
}


.badge-igor-pro {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-inform-7 {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-inno-setup {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-io {
    color: #ffffff;
    background-color: #a9188d;
}


.badge-ioke {
    color: #ffffff;
    background-color: #078193;
}


.badge-isabelle {
    color: #111111;
    background-color: #FEFE00;
}


.badge-isabelle-root {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-j {
    color: #111111;
    background-color: #9EEDFF;
}


.badge-jasmin {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-java {
    color: #ffffff;
    background-color: #b07219;
}


.badge-java-server-pages {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-javascript {
    color: #111111;
    background-color: #f1e05a;
}


.badge-jflex {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-jison {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-jison-lex {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-jolie {
    color: #ffffff;
    background-color: #843179;
}


.badge-jsoniq {
    color: #111111;
    background-color: #40d47e;
}


.badge-jsonnet {
    color: #ffffff;
    background-color: #0064bd;
}


.badge-jsx {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-julia {
    color: #ffffff;
    background-color: #a270ba;
}


.badge-jupyter-notebook {
    color: #ffffff;
    background-color: #DA5B0B;
}


.badge-kotlin {
    color: #ffffff;
    background-color: #F18E33;
}


.badge-krl {
    color: #ffffff;
    background-color: #28430A;
}


.badge-labview {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-lasso {
    color: #ffffff;
    background-color: #999999;
}


.badge-lean {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-lex {
    color: #111111;
    background-color: #DBCA00;
}


.badge-lfe {
    color: #ffffff;
    background-color: #4C3023;
}


.badge-lilypond {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-limbo {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-literate-agda {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-literate-coffeescript {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-literate-haskell {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-livescript {
    color: #ffffff;
    background-color: #499886;
}


.badge-llvm {
    color: #ffffff;
    background-color: #185619;
}


.badge-logos {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-logtalk {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-lolcode {
    color: #ffffff;
    background-color: #cc9900;
}


.badge-lookml {
    color: #ffffff;
    background-color: #652B81;
}


.badge-loomscript {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-lsl {
    color: #ffffff;
    background-color: #3d9970;
}


.badge-lua {
    color: #ffffff;
    background-color: #000080;
}


.badge-m {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-m4 {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-m4sugar {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-makefile {
    color: #ffffff;
    background-color: #427819;
}


.badge-mako {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-mask {
    color: #ffffff;
    background-color: #f97732;
}


.badge-mathematica {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-matlab {
    color: #ffffff;
    background-color: #e16737;
}


.badge-max {
    color: #111111;
    background-color: #c4a79c;
}


.badge-maxscript {
    color: #ffffff;
    background-color: #00a6a6;
}


.badge-mcfunction {
    color: #ffffff;
    background-color: #E22837;
}


.badge-mercury {
    color: #ffffff;
    background-color: #ff2b2b;
}


.badge-meson {
    color: #ffffff;
    background-color: #007800;
}


.badge-metal {
    color: #ffffff;
    background-color: #8f14e9;
}


.badge-minid {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-mirah {
    color: #111111;
    background-color: #c7a938;
}


.badge-modelica {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-modula-2 {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-modula-3 {
    color: #ffffff;
    background-color: #223388;
}


.badge-module-management-system {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-monkey {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-moocode {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-moonscript {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-mql4 {
    color: #ffffff;
    background-color: #62A8D6;
}


.badge-mql5 {
    color: #ffffff;
    background-color: #4A76B8;
}


.badge-mtml {
    color: #111111;
    background-color: #b7e1f4;
}


.badge-muf {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-mupad {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-myghty {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-ncl {
    color: #ffffff;
    background-color: #28431f;
}


.badge-nearley {
    color: #ffffff;
    background-color: #990000;
}


.badge-nemerle {
    color: #ffffff;
    background-color: #3d3c6e;
}


.badge-nesc {
    color: #111111;
    background-color: #94B0C7;
}


.badge-netlinx {
    color: #ffffff;
    background-color: #0aa0ff;
}


.badge-netlinx-erb {
    color: #ffffff;
    background-color: #747faa;
}


.badge-netlogo {
    color: #ffffff;
    background-color: #ff6375;
}


.badge-newlisp {
    color: #111111;
    background-color: #87AED7;
}


.badge-nextflow {
    color: #ffffff;
    background-color: #3ac486;
}


.badge-nim {
    color: #ffffff;
    background-color: #37775b;
}


.badge-nit {
    color: #ffffff;
    background-color: #009917;
}


.badge-nix {
    color: #ffffff;
    background-color: #7e7eff;
}


.badge-nsis {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-nu {
    color: #111111;
    background-color: #c9df40;
}


.badge-numpy {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-objective-c {
    color: #ffffff;
    background-color: #438eff;
}


.badge-objective-c {
    color: #ffffff;
    background-color: #6866fb;
}


.badge-objective-j {
    color: #ffffff;
    background-color: #ff0c5a;
}


.badge-ocaml {
    color: #111111;
    background-color: #3be133;
}


.badge-omgrofl {
    color: #111111;
    background-color: #cabbff;
}


.badge-ooc {
    color: #111111;
    background-color: #b0b77e;
}


.badge-opa {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-opal {
    color: #111111;
    background-color: #f7ede0;
}


.badge-opencl {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-openedge-abl {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-openrc-runscript {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-openscad {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-ox {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-oxygene {
    color: #111111;
    background-color: #cdd0e3;
}


.badge-oz {
    color: #111111;
    background-color: #fab738;
}


.badge-p4 {
    color: #ffffff;
    background-color: #7055b5;
}


.badge-pan {
    color: #ffffff;
    background-color: #cc0000;
}


.badge-papyrus {
    color: #ffffff;
    background-color: #6600cc;
}


.badge-parrot {
    color: #111111;
    background-color: #f3ca0a;
}


.badge-parrot-assembly {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-parrot-internal-representation {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-pascal {
    color: #111111;
    background-color: #E3F171;
}


.badge-pawn {
    color: #111111;
    background-color: #dbb284;
}


.badge-pep8 {
    color: #ffffff;
    background-color: #C76F5B;
}


.badge-perl {
    color: #ffffff;
    background-color: #0298c3;
}


.badge-perl-6 {
    color: #ffffff;
    background-color: #0000fb;
}


.badge-php {
    color: #ffffff;
    background-color: #4F5D95;
}


.badge-picolisp {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-piglatin {
    color: #111111;
    background-color: #fcd7de;
}


.badge-pike {
    color: #ffffff;
    background-color: #005390;
}


.badge-plpgsql {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-plsql {
    color: #111111;
    background-color: #dad8d8;
}


.badge-pogoscript {
    color: #ffffff;
    background-color: #d80074;
}


.badge-pony {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-postscript {
    color: #ffffff;
    background-color: #da291c;
}


.badge-pov-ray-sdl {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-powerbuilder {
    color: #ffffff;
    background-color: #8f0f8d;
}


.badge-powershell {
    color: #ffffff;
    background-color: #012456;
}


.badge-processing {
    color: #ffffff;
    background-color: #0096D8;
}


.badge-prolog {
    color: #ffffff;
    background-color: #74283c;
}


.badge-propeller-spin {
    color: #ffffff;
    background-color: #7fa2a7;
}


.badge-puppet {
    color: #ffffff;
    background-color: #302B6D;
}


.badge-purebasic {
    color: #ffffff;
    background-color: #5a6986;
}


.badge-purescript {
    color: #ffffff;
    background-color: #1D222D;
}


.badge-python {
    color: #ffffff;
    background-color: #3572A5;
}


.badge-python-console {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-q {
    color: #ffffff;
    background-color: #0040cd;
}


.badge-qmake {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-qml {
    color: #ffffff;
    background-color: #44a51c;
}


.badge-quake {
    color: #ffffff;
    background-color: #882233;
}


.badge-r {
    color: #ffffff;
    background-color: #198CE7;
}


.badge-racket {
    color: #ffffff;
    background-color: #3c5caa;
}


.badge-ragel {
    color: #ffffff;
    background-color: #9d5200;
}


.badge-raml {
    color: #111111;
    background-color: #77d9fb;
}


.badge-rascal {
    color: #111111;
    background-color: #fffaa0;
}


.badge-realbasic {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-reason {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-rebol {
    color: #ffffff;
    background-color: #358a5b;
}


.badge-red {
    color: #ffffff;
    background-color: #f50000;
}


.badge-redcode {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-ren-py {
    color: #ffffff;
    background-color: #ff7f7f;
}


.badge-renderscript {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-rexx {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-ring {
    color: #ffffff;
    background-color: #2D54CB;
}


.badge-robotframework {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-roff {
    color: #111111;
    background-color: #ecdebe;
}


.badge-rouge {
    color: #ffffff;
    background-color: #cc0088;
}


.badge-rpc {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-ruby {
    color: #ffffff;
    background-color: #701516;
}


.badge-runoff {
    color: #ffffff;
    background-color: #665a4e;
}


.badge-rust {
    color: #111111;
    background-color: #dea584;
}


.badge-sage {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-saltstack {
    color: #ffffff;
    background-color: #646464;
}


.badge-sas {
    color: #ffffff;
    background-color: #B34936;
}


.badge-scala {
    color: #ffffff;
    background-color: #c22d40;
}


.badge-scheme {
    color: #ffffff;
    background-color: #1e4aec;
}


.badge-scilab {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-sed {
    color: #ffffff;
    background-color: #64b970;
}


.badge-self {
    color: #ffffff;
    background-color: #0579aa;
}


.badge-shaderlab {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-shell {
    color: #111111;
    background-color: #89e051;
}


.badge-shellsession {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-shen {
    color: #ffffff;
    background-color: #120F14;
}


.badge-slash {
    color: #ffffff;
    background-color: #007eff;
}


.badge-slice {
    color: #ffffff;
    background-color: #003fa2;
}


.badge-smali {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-smalltalk {
    color: #ffffff;
    background-color: #596706;
}


.badge-smarty {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-smt {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-solidity {
    color: #ffffff;
    background-color: #AA6746;
}


.badge-sourcepawn {
    color: #ffffff;
    background-color: #5c7611;
}


.badge-sqf {
    color: #ffffff;
    background-color: #3F3F3F;
}


.badge-sqlpl {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-squirrel {
    color: #ffffff;
    background-color: #800000;
}


.badge-srecode-template {
    color: #ffffff;
    background-color: #348a34;
}


.badge-stan {
    color: #ffffff;
    background-color: #b2011d;
}


.badge-standard-ml {
    color: #ffffff;
    background-color: #dc566d;
}


.badge-stata {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-supercollider {
    color: #ffffff;
    background-color: #46390b;
}


.badge-swift {
    color: #111111;
    background-color: #ffac45;
}


.badge-systemverilog {
    color: #111111;
    background-color: #DAE1C2;
}


.badge-tcl {
    color: #111111;
    background-color: #e4cc98;
}


.badge-tcsh {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-terra {
    color: #ffffff;
    background-color: #00004c;
}


.badge-tex {
    color: #ffffff;
    background-color: #3D6117;
}


.badge-thrift {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-ti-program {
    color: #ffffff;
    background-color: #A0AA87;
}


.badge-tla {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-turing {
    color: #ffffff;
    background-color: #cf142b;
}


.badge-txl {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-typescript {
    color: #ffffff;
    background-color: #2b7489;
}


.badge-unified-parallel-c {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-unix-assembly {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-uno {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-unrealscript {
    color: #ffffff;
    background-color: #a54c4d;
}


.badge-urweb {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-vala {
    color: #111111;
    background-color: #fbe5cd;
}


.badge-vcl {
    color: #ffffff;
    background-color: #148AA8;
}


.badge-verilog {
    color: #111111;
    background-color: #b2b7f8;
}


.badge-vhdl {
    color: #111111;
    background-color: #adb2cb;
}


.badge-vim-script {
    color: #ffffff;
    background-color: #199f4b;
}


.badge-visual-basic {
    color: #ffffff;
    background-color: #945db7;
}


.badge-volt {
    color: #ffffff;
    background-color: #1F1F1F;
}


.badge-vue {
    color: #ffffff;
    background-color: #2c3e50;
}


.badge-wdl {
    color: #111111;
    background-color: #42f1f4;
}


.badge-webassembly {
    color: #ffffff;
    background-color: #04133b;
}


.badge-webidl {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-wisp {
    color: #ffffff;
    background-color: #7582D1;
}


.badge-x10 {
    color: #ffffff;
    background-color: #4B6BEF;
}


.badge-xbase {
    color: #ffffff;
    background-color: #403a40;
}


.badge-xc {
    color: #111111;
    background-color: #99DA07;
}


.badge-xojo {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-xproc {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-xquery {
    color: #ffffff;
    background-color: #5232e7;
}


.badge-xs {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-xslt {
    color: #111111;
    background-color: #EB8CEB;
}


.badge-xtend {
    color: #111111;
    background-color: #ADB2CB;
}


.badge-yacc {
    color: #ffffff;
    background-color: #4B6C4B;
}


.badge-yara {
    color: #ffffff;
    background-color: #220000;
}


.badge-yasnippet {
    color: #ffffff;
    background-color: #32AB90;
}


.badge-zap {
    color: #ffffff;
    background-color: #0d665e;
}


.badge-zephir {
    color: #ffffff;
    background-color: #118f9e;
}


.badge-zig {
    color: #ffffff;
    background-color: #ec915c;
}


.badge-zil {
    color: #ffffff;
    background-color: #dc75e5;
}


.badge-zimpl {
    color: #111111;
    background-color: #ADB2CB;
}
