.embedded-readme {
  padding: 1rem;
  margin-right: 0rem;
  margin-left: 0rem;
  margin-bottom: 3rem;
  margin-top: 4rem;
  display: block;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
}
