$footer-background-color: $color-secondary !default;

@include declare-variables(footer-background-color);

#footer {
  @include clearfix;
  background: $footer-background-color;
  margin-top: -$padding-vertical * 10;

  a {
    color: $color-link-inverted;
    &:hover {
      color: $color-link-hover-inverted;
    }
  }
}

#ftw-footer {
  @include row;
  @include auto-text-color($footer-background-color);
  @include clearfix();
  max-width: $max-width-page;
  margin: 0 auto;
  float: none;
  padding-top: $padding-vertical * 12;

  .portlet {
    border-bottom: 0;
    padding-bottom: 0;
  }

  .portlet {
    @include reset-definition-list();
  }

  .managePortletsLink {
    @include cell();
    @include gridwidth(16);
    @include gridposition(0);
    clear: both;
    > a {
      @include button($color-primary);
    }
  }

  [id^="footer-column-"] {
    @include cell;
    @include gridposition(0);
    @include gridwidth(16);
    clear: both;
    @include screen-small {
      @include gridwidth(8);
      clear: none;
    }
    @include screen-large {
      @include gridwidth(4);
    }
  }

  #footer-column-2 {
    @include screen-small {
      @include gridposition(8);
    }
    @include screen-large {
      @include gridposition(4);
    }
  }
  #footer-column-3 {
    @include screen-small {
      clear: both;
    }
    @include screen-large {
      clear: none;
      @include gridposition(8);
    }
  }
  #footer-column-4 {
    @include screen-small {
      @include gridposition(8);
    }
    @include screen-large {
      @include gridposition(12);
    }
  }
}

